*.pyc
*.*~
*old*.*
pySMSCMon/store/*
pySMSCMon/reports/*
*cache*
reports/
store/
share/
bin/
include/
lib/
man/
*sublime-*
*.dat
favicon.ico
*tlf*
*TLF*
documentation/*.png
documentation/log_howto*
*prueba*