*.pyc
*.*~
*old*.*
.coverage
pysmscmon/store/*
pysmscmon/reports/*
pysmscmon/htmlcov/*
*cache*
reports/
store/
share/
bin/
include/
*htmlcov/
lib/
man/
*sublime-*
.*spyder*
*.dat
favicon.ico
*tlf*
*TLF*
docs/*.png
docs/log_howto*
*prueba*
*_example*.py
*.swp
id_rsa*
*egg*
test_local/
build/
dist/
.tox/
.ipynb*
