# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-32
ecdsa=0.11=py27_0
jinja2=2.7.3=py27_2
markupsafe=0.23=py27_0
matplotlib=1.4.3=np19py27_1
numpy=1.9.2=py27_0
pandas=0.16.0=np19py27_1
paramiko=1.15.2=py27_0
pip=6.1.1=py27_0
pycrypto=2.6.1=py27_3
pyparsing=2.0.3=py27_0
pyqt=4.10.4=py27_1
python=2.7.10=1
python-dateutil=2.4.2=py27_0
pytz=2015.2=py27_0
setuptools=15.2=py27_0
sshtunnel=0.0.4.4=py27_0
six=1.9.0=py27_0
tqdm=3.1.4=py27_0