/*       __ _  ___ _ ___ _  ___  _ __  
 *      / _` |/ __| / __| |/ _ \| '_ \ 
 *     | (_| | (__| \__ \ | (_) | | | |
 *      \__,_|\___|_|___/_|\___/|_| |_|
 *
 * CSS file for TLF Healthchecks
 * Based on Lanyon css by @mdo (https://github.com/poole/lanyon)
*/

body {
    margin-top: 0;
    margin-right: 0;
    padding-right: 1em;
    padding-left: 1em;
    border-left: 15px dotted black;
    border-right: 6px double #111;
    color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
    line-height: 140%;
    color: #333;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 99% 1em;
    background-size: 10%;
    background-color: whitesmoke;
/* Prevent scroll on narrow devices */
    overflow-x: hidden;
}

img {
    width: auto;
    max-width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
 * Wrapper
 *
 * The wrapper is used to position site content when the sidebar is toggled. We
 * use an outter wrap to position the sidebar without interferring with the
 * regular page content.
 */

.wrap {
  position: relative;
  width: 100%;
}



/*
 * Sidebar
 *
 * The sidebar is the drawer, the item we are toggling with our handy hamburger
 * button in the corner of the page.
 *
 * This particular sidebar implementation was inspired by Chris Coyier's
 * "Offcanvas Menu with CSS Target" article, and the checkbox variation from the
 * comments by a reader. It modifies both implementations to continue using the
 * checkbox (no change in URL means no polluted browser history), but this uses
 * `position` for the menu to avoid some potential content reflow issues.
 *
 * Source: http://css-tricks.com/off-canvas-menu-with-css-target/#comment-207504
 */

/* Style and "hide" the sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -20rem;
  width: 20rem;
  visibility: hidden;
  overflow-y: auto;
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  font-size: .875rem; /* 15px */
  background-color: #f3efef;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
@media (min-width: 30em) {
  .sidebar {
    font-size: .75rem; /* 14px */
    font-variant: small-caps;
  }
}

.sidebar-item p:last-child {
  margin-bottom: 0;
}

/* Sidebar nav */

.sidebar-nav-item {
  display: block;
  padding: .5rem 1rem;
}

.sidebar-nav-item ul {
 padding-left: 1.5rem; 
}

@media (min-width: 48em) {
  .sidebar-item {
    position: fixed;
    bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    z-index: -1;
  }
  .sidebar-nav-item {
    padding-left:  0;
    padding-right: 0.5rem;
    background-color: #f3efef;
  }
}

/* Hide the sidebar checkbox that we toggle with `.sidebar-toggle` */
.sidebar-checkbox {
  display: none;
}

/* Style the `label` that we use to target the `.sidebar-checkbox` */
.sidebar-toggle {
  position: absolute;
  top:  1rem;
  left: 1rem;
  display: block;
  width: 2.2rem;
  color: #f3efef;
  background-color: transparent;
  border-radius: 52px;
  border-bottom-right-radius: 0;
  cursor: pointer;
  font-size: 1px;
}


.sidebar-toggle:before {
  
  -webkit-border-radius: 52;
  -moz-border-radius: 52;
  border-radius: 52px;
  font-family: Arial;
  color: #f3efef;
  font-size: 1px;
  padding: 25px 0px 0px 0px;
  border: solid #aa1123 14px;
  text-decoration: none;
  display: block;
  content: " ";
  width: 100%;
  padding-bottom: .125rem;
  border-bottom-right-radius: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing:  border-box;
    
}

.sidebar-toggle:active,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #a12;
}

@media (min-width: 30.1em) {
  .sidebar-toggle {
    position: fixed;
    width: 3.25rem;
    height: 3.25rem;
  }

}


/* Slide effect
 *
 * Handle the sliding effects of the sidebar and content in one spot, seperate
 * from the default styles.
 *
 * As an a heads up, we don't use `transform: translate3d()` here because when
 * mixed with `position: fixed;` for the sidebar toggle, it creates a new
 * containing block. Put simply, the fixed sidebar toggle behaves like
 * `position: absolute;` when transformed.
 *
 * Read more about it at http://meyerweb.com/eric/thoughts/2011/09/12/.
 */

.wrap,
.sidebar,
.sidebar-toggle {
  -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
          backface-visibility: hidden;
}
.wrap,
.sidebar-toggle {
  -webkit-transition: -webkit-transform .3s ease-in-out;
          transition: transform .4s ease-in-out;
}

#sidebar-checkbox:checked + .sidebar {
  z-index: 10;
  visibility: visible;
}
#sidebar-checkbox:checked ~ .sidebar,
#sidebar-checkbox:checked ~ .wrap,
#sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(20rem);
      -ms-transform: translateX(20rem);
          transform: translateX(20rem);
}

/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` and sidebar toggle
 * on the right side.
 */

.layout-reverse .sidebar {
  left: auto;
  right: -20rem;
}
.layout-reverse .sidebar-toggle {
  left: auto;
  right: 1rem;
}

.layout-reverse #sidebar-checkbox:checked ~ .sidebar,
.layout-reverse #sidebar-checkbox:checked ~ .wrap,
.layout-reverse #sidebar-checkbox:checked ~ .sidebar-toggle {
  -webkit-transform: translateX(-20rem);
      -ms-transform: translateX(-20rem);
          transform: translateX(-20rem);
}


/* Whitesmoke */
.theme-base-0c .sidebar,
.theme-base-0c .sidebar-toggle:active .sidebar-toggle {
  background-color: #f3efef;
}

.theme-base-0c #sidebar-checkbox:checked ~ .sidebar-toggle 
{
  background-color: whitesmoke;
}

.theme-base-0c .container a,
.theme-base-0c .sidebar-toggle,
.theme-base-0c .related-posts li a:hover {
  color: #a12;
}


input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    padding: 0;
}

[for="TOC"] {
    position:  fixed;
    bottom: 4rem;
    left: 5rem;
    width: 3rem;
    text-align: center;
    padding: .65rem;
    z-index: 0;
    box-shadow: inset 1px 1px rgba(0, 0, 0, 0.1), inset -1px -1px rgba(0, 0, 0, 0.1);
}

[for="TOC"]:hover {
    background: rgba(0,0,0,.5);
    color: rgb(255,255,255);
}

[for="TOC"] span:last-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ section {
    display: block;
    visibility: visible;
    width: 100%;
}

input[type=checkbox]:checked ~ figure { width: 100% }

ininput[type=checkbox]:checked ~ [for="TOC"] span:last-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="TOC"] span:last-of-type {
    display: block;
    visibility: visible;
}

#contentDiv{
        background-color: white;
        margin:auto;
        max-width: 70em;
        padding: 1em;
        z-index: 1;
}

section {
    font-family: Verdana, sans-serif;
    font-size: small;
    font-variant: small-caps;
    line-height: 200%;
    visibility: hidden;
    background-color: #a12;
}

.tocspan {
   position: fixed;
   bottom: 8em;
   left: 3em;
   max-width: 25em;;
}

/* hyperlinks */
a:link {
    text-decoration: none;
    color: #333
}
a:visited {
    color: #050
}
a:hover {
    color: #a12;
    text-decoration: underline;
}

a:active {
    color:  black;
}

.errlog{
    margin: 0 4rem;
    border-radius: 10px;
    padding: 0 1em 0 1em;
    font-size:smaller;
    background-color: #f3efef;
    word-wrap: normal;
    max-height: 15rem;
    overflow-y: scroll;
    border: 4px solid #f3efef;
    
}

.genericlog{
    margin: 0 4rem;
    border-radius: 10px;
    padding: 0 1em 0 1em;
    background-color: #f3efef;
    word-wrap: normal;
    border: 4px solid #f3efef;
}

pre {
    border-radius: 5px;
    border-top-right-radius: 5em;
    background-color: #ececec;
    color: #1111111;
    overflow: auto;
    padding: 0.5em;
    margin-left: 2em;
    margin-right: 2em;
}

pre>code{
	display: block;
	padding: 0 16px 16px 16px;
	margin:2px 0;
	background-color:#f3efef;
	overflow-x:auto;
	word-wrap:normal;
	white-space:pre-line;

}


code {
    font-family: monospace;      
    white-space: normal;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: #a12;
}
h1, h2, h3, h4, h5, h10, h11 { font-family: verdana;
                     font-weight: bold;
                     color: #a12;}
h1 {
        font-size: 130%;
        border-top: 4px dashed #a12;
        padding-top: 2rem;
        margin-top: 7rem;
}

h2 {
        font-size: 110%;
        padding-left: 1rem;
        margin-top: 5rem;


}

h3 {
        font-size: 100%;
        padding-left: 1.5rem;
        margin-top: 2em;
}



h1.title {
        font-size: 150%;
        color: #555;
        font-weight: bold;
        padding-top: 2em;
        padding-bottom: 0.2em;
        text-align: left;
        border: none;
}

h2.date{
        color: gray;
        border-bottom: solid;
}

dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}

p {
        padding-left: 1.75rem;
}
#footer {
        padding-top: 4em;
        font-size: 70%;
        color: gray;
        text-align: center;
        border-top: 2px dotted gray;
        }

.embeddedtxt{
        background-color: #cecece;
        width: 96%;
        height: 10rem;
        border: 0.3rem solid #cecece;
        border-radius: 10px;
        margin:1rem;
        overflow: auto;
}

blockquote {
    border-color: green;
    border-left-style: solid;
    border-left-width: 5px;
    padding-left: 1rem;
    border-left: 5px solid green;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    width: 70%;
    border-collapse: collapse;
    margin: 2rem;
    border: 4px solid #a12;
}

table td, table th {
    font-size: 1em;
    vertical-align: top;
    padding: 5px 7px 2px 1rem;
}


table th {
    font-size: 1.1em;
    text-align: left;
    background-color: #a12;
    color: #eee;
    padding: 5px 0px 4px 1rem;
    font-weight: bold;
}

table tr.even td {
    background-color: #f3efef;
}
